.pageContainerOutterPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bottomHalfContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70px);
}

.memeContainer {
  display: flex;
  height: 15%;
  width: 85%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 50%;
  height: 100%;
}

.inputContainer > input {
  align-self: center;
  width: 325px;
  height: 32px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

.imageContainer {
  position: relative;
  max-width: 85%;
  max-height: 70%;
}

.memeImage {
  max-width: 100%;
  object-fit: contain;
  border-radius: 3px;
  max-height: 750px;
}

.text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
